In [6]:
% matplotlib inline

import pandas as pd

filename = 'F:/okada/Dropbox/Data/river/river.csv'

df = pd.read_csv(filename, encoding='Shift_JIS')
df['NO23'] = df.NO2 + df.NO3
df['TON'] = df.TN - df.NH4 - df.NO2 - df.NO3
df['TOP'] = df.TP - df.PO4
df

,year,river,station,DO,COD,TN,TP,NH4,NO3,NO2,PO4,NO23,TON,TOP
0,H23,淀川,枚方大橋流心,9.6,3.3,1.0,0.071,0.04,0.77,0.04,0.044,0.81,0.15,0.027
1,H23,大和川,遠里小野橋,9.3,6.4,3.8,0.340,0.12,3.00,0.06,0.270,3.06,0.62,0.070
2,H24,淀川,枚方大橋流心,9.7,3.6,1.1,0.075,0.04,0.77,0.04,0.044,0.81,0.25,0.031
3,H24,大和川,遠里小野橋,9.5,6.2,3.7,0.370,0.12,2.90,0.06,0.300,2.96,0.62,0.070
4,H25,淀川,枚方大橋流心,9.7,3.6,1.2,0.091,0.04,0.90,0.04,0.062,0.94,0.22,0.029
5,H25,大和川,遠里小野橋,9.8,6.3,3.9,0.380,0.09,3.00,0.05,0.320,3.05,0.76,0.060

In [32]:
gr = df.groupby('river').mean()
gr = gr[['DO', 'NH4', 'NO23', 'TON', 'PO4', 'TOP']]
gr.index = ['yamato', 'yodo']
gr

              DO   NH4      NO23       TON       PO4       TOP
yamato  9.533333  0.11  3.023333  0.666667  0.296667  0.066667
yodo    9.666667  0.04  0.853333  0.206667  0.050000  0.029000

In [45]:
gr.mean()
gr2 = pd.concat([gr, pd.DataFrame(gr.mean(axis=0), columns=['mean']).T])
gr2

              DO    NH4      NO23       TON       PO4       TOP
yamato  9.533333  0.110  3.023333  0.666667  0.296667  0.066667
yodo    9.666667  0.040  0.853333  0.206667  0.050000  0.029000
mean    9.600000  0.075  1.938333  0.436667  0.173333  0.047833

In [46]:
gr2.to_csv('F:/okada/Dropbox/Data/river/river_avg.csv')